<h1>StarCraft 2 Game Tracker</h1>
<button type="button" id="game-button">Games</button>
<button type="button" id="map-button">Maps</button>
<button type="button" id="player-button">Players</button>
<button type="button" id="building-button">Buildings</button>
<button type="button" id="unit-button">Units</button>
<button type="button" id="Back">Back to {{game_name}} Players' Building & Unit List</button>
<h2>{{game_name}} {{player_name}}'s Building List (Edit)</h2>
<table id="game">
	<thead>
		<th>Game Name</th>
		<th>Game Type</th>
		<th>Game Time</th>
		<th>Date Played</th>
		<th>Map Name</th>
	</thead>
	<tbody>
		{{#each game}}
		<tr>
			<td>{{game_name}}</td>		
			<td>{{game_type}}</td>		
			<td>{{game_time}}</td>		
			<td>{{date_played}}</td>		
			<td>{{map_name}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<table id="player">		
	<thead>
		<th>Game Name</th>
		<th>Player Name</th>
		<th>Won/Lost</th>
		<th>Race</th>
		<th>Team</th>
	</thead>
	<tbody>
		{{#each player}}
		<tr>
			<td>{{game_name}}</td>		
			<td>{{player_name}}</td>		
			<td>{{outcome}}</td>		
			<td>{{race}}</td>
			<td>{{team}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<form method="post" action="/game-player-bldunit">
	<fieldset>
		<table id="bldunit">
			<thead>
				<th>Building List</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<table id="bld-subtable">
							<thead>
								<th>Game Name</th>
								<th>Player Name</th>
								<th>Race</th>
								<th>Building Name</th>
								<th>Quantity</th>
							</thead>
							<tbody>
								{{#each building}}
								<tr>
									<td>{{game_name}}</td>
									<td>{{player_name}}</td>
									<td>{{race}}</td>
									<td>{{bld_name}}</td>
									<td><input class="inputText" type="number" name="quantity" id="newQuantity{{building_id}}">
									</td>
								</tr>
								{{/each}}		
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" name="Edit Building" value="Update Building Quantities" id="UpdateGPB">
	</fieldset>
</form>
