<h1>StarCraft 2 Game Tracker</h1>
<button type="button" id="game-button">Games</button>
<button type="button" id="map-button">Maps</button>
<button type="button" id="player-button">Players</button>
<button type="button" id="building-button">Buildings</button>
<button type="button" id="unit-button">Units</button>
{{#if warningSql}}
	<h3 id="warningSql">SQL Error: {{warningSql}}</h3>
{{/if}}
<h2>Map List (Update)</h2>
<form method="post" action="/maps">
	<fieldset>
		<table>
			<thead>
				<th>Map Name</th>
				<th>Map Type</th>
				<th>Horizontal Length</th>
				<th>Vertical Length</th>
				<th>Designer</th>
				<th>Tile Set</th>
			</thead>
			<tbody>
				<tr>
					{{#each results}}
					<td><input type="text" name="name" id="newName" value="{{map_name}}"></td>		
					<td>
						<select id="newType" name="type">
							<option value="1v1">1v1</option>
							<option value="2v2">2v2</option>
							<option value="3v3">3v3</option>
							<option value="4v4">4v4</option>
						</select>
					</td>		
					<td><input type="text" name="horizontal" id="newHorizontal" value={{horizontal_length}}></td>		
					<td><input type="text" name="vertical" id="newVertical" value={{vertical_length}}></td>		
					<td><input type="text" name="designer" id="newDesigner" value="{{designer}}"></td>
					<td><input type="text" name="tile_set" id="newTileSet" value="{{tile_set}}"></td>
					{{/each}}
				</tr>
			</tbody>
		</table>
		<div id="spacer"></div>
		<input type="submit" name="Edit Request" value="Update Map" id="EditButton">
	</fieldset>
</form>
				
