<h1>StarCraft 2 Game Tracker</h1>
<button type="button" id="game-button">Games</button>
<button type="button" id="map-button">Maps</button>
<button type="button" id="player-button">Players</button>
<button type="button" id="building-button">Buildings</button>
<button type="button" id="unit-button">Units</button>
<h2>Player List</h2>
<div id="spacer"></div>
	<button type="button" id="add">Add New Player</button>
<div id="spacer"></div>
<div id="outer">
	<div id="inner">Selection Criteria ---></div>
	<div id="inner">
		<select id="player-select-by">
			<option value="None">None</option>
			<option value="Player Name">Player Name</option>
		</select>
	</div>
	<div id="inner">Value to Select By --></div>
	<div id="inner">
		<select id="player-select-value-by">
		</select>
	</div>
</div>
<br>
<div id="outer">
	<div id="inner">Sort By ---------------></div>
	<div id="inner">
		<select id="player-sort-by">
			<option value="None">None</option>
			<option value="Player Name">Player Name</option>
			<option value="Wins"># Wins</option>
			<option value="Losses"># Losses</option>
		</select>
	</div>
</div>
<table>
	<thead>
		<th>Player Name</th>
		<th># Wins</th>
		<th># Losses</th>
		<th>Player's Games List</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		{{#each results}}
		<tr>
			<td>{{player_name}}</td>		
			<td>{{wins}}</td>		
			<td>{{losses}}</td>
			<td>
				<button type="button" id="list{{player_id}}">{{player_name}} Games List</button>
			</td>
			<td>
				<button type="button" id="upd{{player_id}}">Update {{player_name}}</button>
			</td>
			<td>
				<button type="button" id="del{{player_id}}">Delete</button>
			</td>	
		</tr>
		{{/each}}
	</tbody>
</table>		
				
